@define-color nier-bg #d1cdb7;
@define-color nier-bg-shadow #bab5a1;
@define-color nier-fg #454138;
@define-color nier-fg-accent #ce664d;

@define-color nier-button-bg #bab5a1;
@define-color nier-button-hover-fg #dcd8c0;
@define-color nier-button-hover-bg #454138;

* {
  border-radius: 0.5rem;
  font-family: IBM Plex Sans;
  font-size: 1rem;
  font-weight: 500;
}

window#waybar {
  background: @nier-fg;
  color: @nier-bg;
}

.modules-left {
  padding-left: 0.75rem;
}

.modules-right {
  padding-right: 1.5rem;
}

#submap {
  color: @nier-fg;
  background: @nier-bg;
  padding: 0rem 0.5rem;
}

#pulseaudio.muted {
  color: @nier-fg-accent;
}

#workspaces button {
  padding: 0rem 0.25rem;
}

#workspaces button.active {
  color: @nier-fg;
  background: @nier-bg;
}

#workspaces button.urgent {
  background: @nier-fg-accent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: inherit;
}
